[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-registration-redux = "*"
reportlab = "*"
django-bootstrap-datepicker-plus = "*"
django-widget-tweaks = "*"

[dev-packages]

[requires]
python_version = "3.11"
