{% extends 'navbar.html' %} {% load crispy_forms_tags %} {% load widget_tweaks %}  {% block content %}

<div class="myForm">
  <form method='POST' action=''>{% csrf_token %}
      <div class="row">
          <div class='col-sm-6'>
              <div class="form-row">
                <div class="form-group col-md-6">
                  {{ form.invoice_date|as_crispy_field }} {{ form.name|as_crispy_field }}
                </div>

                <div class="form-group col-md-6">
                  {{ form.invoice_number|as_crispy_field }} {{ form.phone_number|as_crispy_field }}
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  {{ form.line_one|as_crispy_field }}
                </div>
                <div class="form-group col-md-2">
                  {{ form.line_one_quantity |add_class:'id_line_one_quantity'| as_crispy_field }}
                </div>
                <div class="form-group col-md-2">
                  {{ form.line_one_unit_price|add_class:'id_line_one_unit_price'|as_crispy_field}}
                </div>
                <div class="form-group col-md-2">
                  {{ form.line_one_total_price| add_class:'id_line_one_total_price'|as_crispy_field}}
                </div>
              </div>

              
              <div class="form-row">
                <div class="form-group col-md-12">
                  {{ form.invoice_type|as_crispy_field }}
                </div>
                <div class="form-group col-md-12">
                  {{ form.total|add_class:'id_total'|as_crispy_field }}
                </div>
              </div>

              <button type="submit" class="btn btn-primary">Save</button>

              <!-- <input type="submit" value='Submit'/>   -->
          </div>
      </div>
  </form>
</div><!-- End myform -->
</div>


{% endblock %}
