{% load static %}{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
  <head>
    <title>List of Invoices</title>
    <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet" />
  </head>
  <body>
    {{title}} <br />
    <form method="POST" action="">
      {% csrf_token %} {{form|crispy}}
      <input type="submit" value="Search" />
    </form>
    <br />
    <table class="table">
      <thead>
        <tr>
          <th>COUNT</th>
          <th>DATE</th>
          <th>CUSTOMER NAME</th>
          <th>INVOICE NUMBER</th>
          <th>AMOUNT</th>
        </tr>
      </thead>
      {% for instance in queryset %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{instance.invoice_date}}</td>
        <td>
          <a href="{% url 'update_invoice' instance.id %}">{{instance.name}}</a>
        </td>
        <td>{{instance.invoice_number}}</td>
        <td>{{instance.total}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
